{
	"useTabs": true,
	"tabWidth": 4,
	"semi": true,
	"svelteAllowShorthand": true,
	"svelteStrictMode": false,
	"trailingComma": "none",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte, prettier-plugin-tailwindcss"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
