/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Write custom base styles here */
}

@layer components {
    /* Write custom components here */
}

@layer utilities {
    /* Write custom utilities here */
}

* {
    /* outline: 1px solid blue !important; */
}